{% extends "base.html" %}

{% block title %}
{% if form.instance.pk %}Update Task{% else %}Create Task{% endif %}
{% endblock %}

{% block content %}
<h1>
    {% if form.instance.pk %}Update Task{% else %}Create Task{% endif %}
</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="button">
        {% if form.instance.pk %}Update{% else %}Create{% endif %}
    </button>
    <a href="{% url 'task-list' %}" class="button" style="background-color:#e74c3c">Back</a>
</form>
{% endblock %}
