{% extends "base.html" %}

{% block title %}Todo List{% endblock %}

{% block content %}
<h1>Todo List</h1>

<a href="{% url 'task-create' %}" class="button">Add Task</a>

<ul>
    {% for task in task_list %}
        <li>
            <div class="task-info {% if task.is_done %}done{% endif %}">
                {{ task.content }}
                {% if task.deadline %}
                    - due {{ task.deadline }}
                {% endif %}
            </div>
            <div class="task-buttons">
                {% if task.is_done %}
                    <a href="{% url 'task-toggle' task.pk %}" class="button" style="background-color:#f39c12">Undo</a>
                {% else %}
                    <a href="{% url 'task-toggle' task.pk %}" class="button">Complete</a>
                {% endif %}
                <a href="{% url 'task-update' task.pk %}" class="button" style="background-color:#3498db">Update</a>
                <a href="{% url 'task-delete' task.pk %}" class="button" style="background-color:#e74c3c">Delete</a>
            </div>
        </li>
    {% empty %}
        <li>No tasks yet</li>
    {% endfor %}
</ul>
{% endblock %}